tmp/
components/
managed_components/
build/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.bin
mmap_generate_*.h
.clangd

# Large files (exclude from Git)
*.zip
*.exe
*.dll
*.so
*.a
_internal/
output/
temp/
gifs/*.gif
assets_build/
memory_data/
